[user]
	name = Chanwoong Kim
	email = devk0817@gmail.com
[core]
	autocrlf = input
	whitespace = trailing-space
	editor = /usr/local/bin/vim
[gui]
	encoding = utf-8
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold red)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(cyan)<%an>%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold red)%h%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %C(cyan)<%an>%C(reset)' --all
  lg = !"git lg1"
  st = status --ignore-submodule=none
[color]
	ui = true
[push]
	default = simple
